<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<div>
	江西银行优盛理财-创利19708理财产品风险揭示书（中等风险类）<br/>
尊敬的投资者： <br/>
由于本理财产品的资金管理运用过程中，可能会面临多种风险因素，因此，根据中国银行业监督管理委员会相关监管规定的要求，在您购买本理财产品前，请仔细阅读以下重要内容： <br/>
本理财产品为非保本浮动收益型产品，我行不保证您的投资本金及收益安全，根据江西银行理财产品内部风险评级，评定为低风险类，因市场变动或其他因素影响，在最不利的情况下，本产品收益率可能为零甚至出现本金亏损，您应充分认识投资风险，谨慎投资。<br/>
本揭示书旨在向您揭示投资本产品所具有的各种风险，以帮助您根据自身的投资经验、账务状况、投资目标、风险承受能力等情况评估和确定是否做出投资决策，但本揭示书仅供作为决策参考，且仅为列举性质，不可能完全覆盖和揭示所有风险，因此，请您自行或者认为必要时征询专业的投资顾问后做出相应决策，并自行承担决策后果和责任。 <br/>
1.理财收益风险：本理财产品不保证投资者的理财本金及收益安全，请您在充分认识理财产品性质及所涉风险后，谨慎投资。本理财产品经我行内部风险评级为低风险类，本金亏损的概率较低，预期收益存在一定的不确定性。<br/>
2.托管人风险：本理财产品须交由合格金融机构托管，如因托管人违背托管职责、管理产品不当并导致本理财产品本金和收益受损，该损失将由江西银行作为资产委托人向托管人索赔，索赔不足的，由本理财产品投资者自行承担相关损失。<br/>
3.政策风险：本理财产品是针对当前的相关法律法规、监管要求和政策设计的。如国家宏观政策以及市场相关法规政策、监管要求发生变化，可能影响理财产品的发行、投资、兑付等的正常进行，从而可能造成本产品的收益降低甚至本金损失。 <br/>
4.市场风险：由于金融市场的内在波动性，市场利率可能发生变化，关联标的价格走势可能对产品结构不利，本产品所投资的金融工具/资产的市场价格也可能发生不利变化，这些都可能使客户收益低于预期或其他方式运用资金而产生的收益。<br/>
5.流动性风险：在本理财产品存续期内，投资者不享有赎回权利，客户需要资金时不能随时变现，可能使客户丧失其他投资机会。 <br/>
6.信息传递风险：本理财产品存续期内不提供对账单和报告，投资者应根据本理财产品说明书所载明的公告方式及时查询本理财产品的相关信息。如果投资者未及时查询，或由于通讯故障、系统故障以及其他不可抗力因素使得投资者无法及时了解理财产品信息，并由此影响投资者决策，因此而产生的责任和风险由投资者自行承担；另外，客户预留在理财行的有效联系方式变更的，应及时通知理财行；如客户未能及时告知，理财行很可能在需要时无法及时联系客户，由此产生的责任和风险由客户自行承担。<br/>
7.不成立风险：如本理财产品销售期结束，产品销售总额未达到100万元或市场发生剧烈波动，经江西银行合理判断难以按照本产品说明书规定向投资者提供本理财产品，江西银行有权宣布本理财产品不成立。<br/>
8.提前终止风险：本理财产品有提前终止的风险，若遇市场发生剧烈波动，或遇国家有关法律、法规、金融政策出现重大调整并严重影响本理财产品的收益时，江西银行有权但无义务提前终止本理财产品。若理财产品提前终止，产品投资期限按实际存续天数计算。<br/>
9.延期风险：若发生导致理财产品不能按时兑付的事件或突发状况，江西银行将有权延长理财产品期限。若理财产品延期，产品投资期限按实际存续天数计算。<br/>
10.不可抗力风险：指由于自然灾害、战争等不可抗力因素的出现，将严重影响金融市场的正常运行，导致本理财产品收益降低甚至本金损失。对于由不可抗力风险所导致的任何损失，由投资者自行承担，江西银行对此不承担任何责任。<br/>
11.管理人风险：因管理人（包括本理财产品的投资管理人、所投资的信托计划/资管计划的受托人（如有）、相关投资顾问（如有）等，下同）受经验、技能等因素的限制，可能导致本理财产品项下的理财资金遭受损失。如因信托计划/资管计划的受托人和相关投资顾问违背相关协议约定、处理事务不当，可能导致本理财产品项下的理财资金遭受损失。<br/>
12. 投资品种风险：本理财产品的投资品种包括股票、基金、债券及固定收益类金融工具等，通过投资组合仍然存在风险，不排除理财产品终止清算时发生重大本金损失的可能性，投资者应充分了解此风险并确认自身可承担上述风险。因投资品种所导致的任何损失，由投资者自行承担，江西银行对此不承担任何责任。<br/>
   <br/>
本理财产品为非保本浮动收益型理财产品，投资期限248天，客户参考收益率4.85%/年，产品风险评级为R3级（中等风险类）理财产品，经客户风险属性评估为平衡型、进取型、激进型且有投资经验的投资者均可购买。以下风险示例将说明最不利投资情形下的投资结果：<br/>
    示例一：本理财产品不成立<br/>
    若市场发生剧烈波动，或本理财产品销售期结束，销售总额未达到100万元，经江西银行合理判断难以按照产品说明书约定向投资者提供本理财产品，江西银行有权宣布本理财产品不成立。 <br/>
    示例二：本理财产品提前终止<br/>
    若遇市场发生剧烈波动，或遇国家有关法律、法规、金融政策出现重大调整并严重影响本理财产品的收益时，江西银行有权但无义务提前终止本理财产品。 <br/>
    示例三：本理财产品延期<br/>
    若本理财产品投资资产到期不能按时变现导致理财产品不能按时兑付，或发生其他突发状况导致本理财产品不能如期兑付，江西银行将有权延长理财产品期限。  <br/>
    示例四：遇市场大幅波动，投资收益将遭受损失<br/>
    如遇市场大幅波动，有可能导致理财资金投资资产收益率大幅下降，由此致使本理财产品投资收益低于客户预期收益。 <br/>  

在您签署本风险揭示书前，请仔细阅读风险揭示书及产品说明书的全部内容，同时向我行了解本理财产品的其他相关信息，确保您已充分了解本理财产品性质及所涉风险。如影响您风险承受能力的因素发生变化，请及时完成风险承受能力评估并独立作出是否认购本理财产品的决定。江西银行再次提示您：“理财非存款，产品有风险，投资须谨慎！”<br/>
您签署本风险揭示书、《江西银行理财业务申请表》及《江西银行理财业务客户须知》并将资金委托给我行运作，均为您真实的意思表示。本风险揭示书为江西银行理财合同的有效组成部分。<br/>


投资者确认栏 <br/>
本人确认《江西银行理财业务客户风险属性评估表》的选择为本人真实意思表示且拥有一定的投资经验，并认为该理财产品完全适合本人的投资目标、投资预期以及风险承受能力。此外，本人确保《江西银行高资产净值客户评估表》中自有资产的真实性并能提供相应的证明文件。<br/>
抄录以下内容完成确认：本人（本机构）已经阅读上述风险揭示，充分理解并清楚知晓本产品的性质及所涉风险，愿意承担相关风险。<br/>
      本人（本机构）确认如下：                                                                                   <br/>
                                                                                                                
                                                    。                                             
 确认人：                        风险提示方：             （网点盖章）<br/>




江西银行优盛理财-创利19708理财产品说明书<br/>
（代码：YS19708）<br/>
重要须知<br/>
·本理财产品仅向依据中华人民共和国有关法律法规及本产品说明书规定可以购买本理财产品的合格投资者发售。<br/>
·在购买本理财产品前，请投资者确保完全理解本理财产品的性质、其中涉及的风险以及投资者的自身情况。投资者若对本说明书的内容有任何疑问，请拨打客服热线96266，或向江西银行各营业网点咨询。除本说明书中明确规定的收益或收益分配方式外，任何预期收益、预计收益、测算收益或类似表述均属不具有法律约束的用语，不代表投资者可能获得的实际收益，亦不构成江西银行对本理财产品的任何收益承诺。<br/>
·本理财产品有投资风险，不等同于银行存款，我行不保证您的投资收益安全，您应充分认识投资风险，谨慎投资。本理财产品只根据本说明书所载的资料操作。<br/>
·本理财产品说明书解释权归江西银行所有。<br/>
<br/>
理财产品风险等级评定<br/>
本理财产品经江西银行内部风险评级评定为R3中等风险类，适合平衡型、进取型及激进型且有投资经验者购买。<br/>

产品概述<br/>
理财登记系统编码：C1087418000243，投资者可依据该编码在“中国理财网（www.chinawealth.com.cn）”查询产品信息<br/>
1.产品名称：优盛理财-创利19708理财产品<br/>
2.产品代码：YS19708 <br/>
3.产品类型：非保本浮动收益型理财产品<br/>
4.投资及收益币种：人民币<br/>
5.产品销售期：2019年1月15日至2019年1月21日<br/>
6.投资期限：248天<br/>
7.投资起始日：2019年1月22日（最终以理财产品成立日为准）<br/>
8.投资到期日：2019年9月27日（最终以理财产品终止日为准）<br/>
9.发行规模：2亿元整。<br/>
10.认购起点/追加金额：个人投资者认购起点均为人民币100万元起，以人民币1万元的整数倍递增购买。<br/>
11.参考年化收益率：4.85%<br/>
12.计算理财收益基础天数：365天<br/>
13.理财收益计算公式：理财产品收益＝交易本金×参考年化收益率×理财产品实际存续天数（理财产品实际存续天数为投资起始日至投资到期日之间的实际天数）÷计算理财收益基础天数。<br/>
14. 产品投资范围：产品投资范围：包括央行票据、国债、政策性银行金融债、高等级信用债、拆借、回购、货币型基金、债券型基金以及符合我行要求的结构化证券投资优先级、新股申购、优先股、分级基金、可分离债、可交换债、可转债、债权类资产项目等固定收益类或准固定收益类金融资产和权益类金融资产。<br/>
投资比例及投资方式：低风险的货币市场和债券市场工具投资比例0-20%；以上高等级信用债、拆借、债券型基金以及结构化证券投资优先级等固定收益类标准化债权资产或权益类金融资产资产投资比例0-90%；债权类资产项目投资比例0-90%；各投资比例均可在[-10%，10%]区间范围内浮动。<br/>
本产品可通过参与或认购信托计划、资管计划和基金专户等监管部门允许的投资渠道和方式实现对上述投资品种的投资，且可以由资产名义持有人按公允价格转让本产品所投资的全部或部分投资标的。 <br/>
在产品存续期内，如果理财行根据市场情况调整投资范围、投资品种或者超出产品合约约定的浮动区间调整投资比例，应当以在其官方网站发布公告的方式通知客户。客户不同意该等调整的，有权全部赎回本产品并终止本合同；在本合同终止之前，理财行将视为客户同意接受该等调整并按其执行。<br/>
15.目标投资者：我行高资产净值客户，并且经客户风险属性评估为平衡型、进取型及激进型的有投资经验者购买。<br/>
16.到帐日：理财产品到期后，江西银行将在到期日后三个银行工作日内将投资本金及收益划至投资者指定理财账户。投资到期日与资金实际到帐日之间不计利息。<br/>
17.银行工作日：指中华人民共和国国务院规定的境内金融机构正常营业日。<br/>
18.银行管理费：若理财产品运作的实际年化收益率超过产品参考年化收益率，超过部分作为江西银行理财产品管理费，若理财产品运作的实际年化收益率未超过产品参考年化收益率，江西银行将不收取管理费。若理财产品提前终止，管理费按实际存续期的收益超过部分收取。<br/>
19.理财产品本金及收益支付：江西银行以收到的理财产品收益为限向投资者支付投资本金及收益。<br/>
20.提前终止权：在投资期内投资者不可提前终止，江西银行有权但无义务提前终止本理财产品。<br/>
21.质押：请参照江西银行相关理财产品质押管理办法执行。<br/>
22.税款：理财收益的应纳税款由投资者自行申报及缴纳，江西银行不代扣代缴理财产品的税款。<br/>
23.其他事项：本理财产品自收到投资者理财资金日起至产品销售结束日止，按照当时中国人民银行公布的人民币活期储蓄存款利率计付利息。投资期限内及投资到期日至投资者资金到帐日之间，投资者资金不计付利息。如本理财产品销售期结束，产品销售总额未达到100万元整或市场发生剧烈波动，则本理财产品不成立，并于销售期结束后的第1个工作日发布本理财产品不成立的公告。江西银行将于发行期结束后将客户资金解冻。<br/>

理财收益测算依据和方法<br/>
1.理财收益的测算依据：产品到期年化收益率根据理财产品预期投资收益扣除托管费用和银行管理费等费用后计算得出。<br/>
2.投资者收益的计算方法：理财产品到期收益＝交易本金×参考年化收益率×理财产品实际存续天数（理财产品实际存续天数为投资起始日至投资到期日之间的实际天数）÷计算理财收益基础天数（为365天）注：每计息单位人民币理财收益精确到小数点后2位。<br/>

理财收益情况示例<br/>
1.正常到期情况下的理财收益：假设投资者购买理财产品金额为10万元人民币，本理财产品实际年化收益率为5%，投资期限为2014年1月1日起至2014年12月31日，理财产品实际存续天数为364天，则理财产品收益＝100,000×5%×364÷365＝4,986.30元人民币。<br/>
2.产品提前终止情况下的理财收益：假设投资者购买理财产品金额为10万元人民币，本理财产品实际年化收益率为5%，投资期限为2014年1月1日起至2014年12月31日，2014年12月30日江西银行提前终止理财产品并在3个工作日内发布相关公告信息，则理财产品实际存续天数为363天，则理财产品收益＝100,000×5%×363÷365＝4,972.60元人民币。<br/>
3.产品延期情况下理财收益：假设投资者购买理财产品金额为10万元人民币，本理财产品实际年化收益率为5%，投资期限为2014年1月1日起至2014年12月31日，江西银行将产品延期到2015年1月1日并在原到期日三个工作日内发布相关公告信息，则理财产品实际存续天数为365天，则理财产品收益＝100,000×5%×365÷365＝5,000.00元人民币。<br/>
4.遇市场较大波动情况下的理财收益：在市场有较大波动情况下，理财收益将有浮动，有可能低于预期收益，投资者无法实现参考收益。<br/>
（上述收益测算中所有数据仅为示例所假设，测算收益不等于实际收益，投资须谨慎。）<br/>
<br/>
信息公告<br/>
1.若江西银行决定提前终止或延期兑付理财产品，将于实际终止日或延期日前3个工作日，通过江西银行官方网站(www.jx-bank.com）进行信息公告，客户可通过上述方式了解相关信息。<br/>
2.投资者预留在江西银行的有效联系方式变更的，应及时通知江西银行。如投资者未及时告知江西银行联系方式变更的，江西银行将可能在需要联系投资者时无法及时联系上，并可能会由此影响投资者的投资决策，由此而产生的责任和风险由投资者自行承担。<br/>
<br/>
特别提示<br/>
1.江西银行将恪守勤勉尽责的原则，合理配置资产组合，随时关注市场动态，为投资者提供专业化的理财服务。<br/>
2.投资者应密切关注江西银行与本产品有关的公告信息，以免造成不必要的损失。<br/>
3.江西银行在募集结束后扣划理财资金时将不再通过电话等方式通知客户，若客户希望解除已签订协议，应在募集结束日前主动告知江西银行。<br/>
3.在本产品存续期内，如因国家法律法规、监管规定发生变化，或是出于维持本产品正常运营需要，在不损害投资者利益的前提下，江西银行有权单方对本产品说明书进行修订。江西银行决定对产品说明书进行修订的，将提前两个工作日在江西银行官方网站（www.jx-bank.com）发布公告信息通知投资者。<br/>
4.因投资者账户销户等原因，造成理财本金及收益无法入账的，由投资者承担责任。<br/>
5.投资者对本理财产品有任何意见或异议，请联系江西银行的理财经理或反馈至江西银行营业网点，或致电江西银行全国统一客户服务热线96266。<br/>
<br/>
江西银行高资产净值客户确认书<br/>
<br/>
本人确认：<br/>
本人满足下述有关高资产净值客户描述的要求之一，属于高资产净值客户。<br/>
高资产净值客户是满足下列条件之一的商业银行客户：<br/>
（一）单笔认购理财产品不少于１００万元人民币的自然人；<br/>
（二）认购理财产品时，个人或家庭金融净资产总计超过１００万元人民币；<br/>
（三）个人收入在最近三年每年超过２０万元人民币或者家庭合计收入在最近三年内每年超过３０万元人民币。<br/>
特此确认。<br/>
<br/>
客户签名：<br/>
日期：   年  月  日<br/>
	
</div>
</body>
</html>